* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  margin-bottom: 2rem;
}

nav a {
  text-decoration: none;
}

body {
  margin: 2rem;
  background-color: rgb(253, 248, 241);
  font-family: sans-serif;
  color: rgb(1, 12, 17);
}

h1,
h2 {
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p {
  margin-bottom: 0.5rem;
}

header {
  margin-bottom: 2rem;
}

.beer_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.beer_article {
  position: relative;
  background-color: rgb(237, 229, 217);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.beer_article.strong {
  background-color: rgb(237, 221, 217);
}

.beer_article.twist {
  background-color: rgb(226, 237, 217);
}

.beer_tagline {
  font-style: italic;
  color: rgb(6, 79, 108);
}

.beer_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.beer_twist {
  position: absolute;
  top: 50%;
  background-color: rgb(132, 216, 63);
  width: 80%;
  padding: 1rem;
  text-align: center;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.beer_image_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}

.beer_image {
  max-width: 100%;
  height: 350px;
}

.beer_abv_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.beer_abv {
  background-color: rgb(6, 79, 108);
  color: white;
  padding: 0.5rem;
}

.beer_strong {
  background-color: rgb(215, 47, 17);
  color: white;
  padding: 0.5rem;
}

.hide {
  display: none;
}

.single_beer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.single_beer p {
  width: 100%;
  max-width: 55ch;
}

.single_beer section {
}

.single_beer_info {
  display: flex;
  flex-direction: column;
}

.single_beer_info img {
  max-height: 450px;
  align-self: center;
  margin: 2rem 0;
}

.single_beer_info ul {
  list-style: none;
}

.single_beer_info li {
  margin-top: 0.5rem;
}
